/* Jeopardy Admin Styles */

/* Elements */
body {
    background-color: #060CE9; 
    color: white;
}

ul li {
    font-size: 20px;
}

button {
    background-color: #060cc7;
    border: none;
    color: white;
    padding: 15px;
    font-size: 15px;
}

input {
    border: none;
    padding: 15px;
    font-size: 15px;
}

/* Containers */
.container {
    margin-left: 5%;
}

#masterContainer {
    display: flex;
}
