{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Jeopardy Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'core/core.css' %}">
</head>

<body>

  <div class="column">
    <div class="category">
      <h1><a href="/answers">Jeopardy</a></h1>
    </div>
  </div>

  <div class="column">
    <div class="category">
      <h1><a href="/answers/double">Double Jeopardy</a></h1>
    </div>
  </div>

  <div class="column">
    <div class="category">
      <h1><a href="/admin">Questions Admin</a></h1>
    </div>
  </div>

  <div class="column">
    <div class="category">
      <h1><a href="/jadmin">Game Admin</a></h1>
    </div>
  </div>

  <div class="column">
    <div class="category">
      <h1><a href="/buzzer">Buzzer</a></h1>
    </div>
  </div>

  <div class="column">
    <div class="category">
      <h1><a href="/statistics">Statistics</a></h1>
    </div>
  </div>
</body>

</html>